body {
  background-color: dodgerblue;
}
h1 {
  color:#FF0000; /* red, (255, 0, 0)*/
  border-style: solid;
  border-width: 1px;
  border-color:red
p }
{
  color:red;
  font-size:1em;
  text-decoration: underline;
}
p.important {
  width:75%;
}
.purple-text {
  color:red;
}
.important {
  font-weight:bold;
}
.important:hover {
  background-color:pink;
}
#lead-paragraph {
  color:purple;
  font-weight:bold;
}

a[href="https://imagecomics.com"] {
  background-color:#0000FF;
  padding:1rem;
}
a[href="https://storm.wnba.com/"] {
  /*background-color:green;*/
}
img {
  border: dashed orange 3px;
  width:25%;
}
